@import "/home/zheng/.cache/wal/colors-waybar.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font;
  font-size: 17px;
}

window#waybar {
  background-color: @background;
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-top: 8px transparent;
  border-radius: 8px;
  transition-duration: 0.5s;
  margin: 16px 16px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  color: @color7;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

#workspaces button.focused {
  color: #bf616a;
}

#workspaces button.active {
  color: @color3;
}

#workspaces button.urgent {
  background-color: @color13;
}

#window {
  /* border-radius: 20px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  color: @color15;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-hyprPicker,
#custom-power-menu,
#custom-spotify,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  padding: 0 10px;
  color: @foreground;
  /* color: #bf616a; */
  border-radius: 9.5px;
  background-color: @background;
}

#window,
#workspaces {
  margin: 0 4px;
  border-radius: 7.8px;
  background-color: @background;
}

#cpu {
  color: @color1;
  background-color: @background;
}

#memory {
  color: @color5;
  background-color: @background;
}

#custom-power-menu {
  border-radius: 9.5px;
  background-color: @background;
  border-radius: 7.5px;
  padding: 0 5px;
}

#custom-launcher {
  background-color: @background;
  color: @color3;
  border-radius: 7.5px;
  padding: 0 3px;
  font-size: 22px;
}

#custom-weather.severe {
  color: @color10;
}

#custom-weather.sunnyDay {
  color: @color14;
}

#custom-weather.clearNight {
  color: @color4;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: @color8;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: @color4;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: @color7;
}

#custom-weather.default {
  color: @color15;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#pulseaudio {
  color: @color1;
}

#backlight {
  /* color: #EBCB8B; */
  color: @color5;
}

#clock {
  color: @color7;
  /* background-color: #14141e; */
}

#battery {
  color: @color6;
  /* background-color: #90b1b1; */
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: @color11;
  /* background-color: #26a65b; */
}

@keyframes blink {
  to {
    background-color: @background;
    color: @color15;
  }
}

#battery.critical:not(.charging) {
  color: @color10;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#disk {
  background-color: @color1;
}

#bluetooth {
  color: @color11;
}

#bluetooth.disconnected {
  color: @color8;
}

#network {
  color: @color5;
}

#network.disconnected {
  color: @color7;
}

#custom-media {
  background-color: @color14;
  color: @color10;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: @color13;
}

#temperature.critical {
  background-color: @color10;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: @background;
}

#idle_inhibitor.activated {
  background-color: @foreground;
  color: @color8;
}

#mpd {
  color: @color11;
}

#mpd.disconnected {
  color: @color12;
}

#mpd.stopped {
  color: @color14;
}

#mpd.paused {
  color: @color14;
}

#language {
  background: @color1;
  color: @color5;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: @color3;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#custom-spotify {
  padding: 0 10px;
  margin: 0 4px;
  /* background-color: #1db954; */
  color: @color7;
}

#keyboard-state > label.locked {
  background: @foreground;
}
