/* @import url("./color.css"); */
/* @import url(""); */

window {
	/* font-family: "Iosevka Nerd Font"; */
	font-size: 18px;
}

#bar1 {
	background-color: #355077;
	color: #FFFFFF;
	padding-top: 4px;
	padding-bottom: 4px;
	/* height: 40px; */
}

.right {
	margin-right: 24px;
}

.indicator {
	font-size: 18px;
}

.volume {

	background-color: cyan;
	color: red;
}

.workspace {
	font-family: "Iosevka Nerd Font";
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 21px;
	border-radius: 0;
	background: #3550AF;
	color: #FFF;
	border: none;
}

.active {
	background: #3550FF;
}
